# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE / OS
.idea/
.vscode/
.DS_Store
__MACOSX/

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/
data/processed/

# Model artifacts
artifacts/*
!artifacts/.gitkeep
*.joblib
*.pkl

# Logs
*.log

# Secrets
.envok, 